<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>email</key>
	<string>subramanikios@gmail.com</string>
	<key>secretKey</key>
	<string>sPe5A606v27XzSbeA6hKjUQ9tO39OGLhw0m76ndCplAZdMdOSuycpolTdp216OiCOFJV2Xysi9rwVEkO9S0yhmruLuwSiOu7ue2w</string>
</dict>
</plist>
